# Dependencies
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Android
android/.gradle
android/app/build/
android/build/
local.properties
*.iml

# Metro
.metro-health-check*

# macOS
.DS_Store

# Environment
.env
.env*.local

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log